一、用户和组管理命令
useradd -g 主要组 -G yinzhengjie,jason,

2.使用useradd命令创建用户user1，要求所属组为user_group、用户主目录为/user1
useradd -d /user1 -G user_group user1

3、使用useradd命令创建用户user2，要求所属组为user_group、用户主目录为/home/user2
useradd -d /home/user2 -G user_group user2

4. 修改密码
echo "password" | passwd --stdin username

二、修改用户名
hostnamectl set-hostname xxxx    // relogin
